.form__mailer {
    background-color: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 100px;
}

.form {
    margin-top: 20px;
    max-width: 400px;    
    background-color: #27A2DB;
    border-radius: 10px;
    color: #fff;
}

.form * {
    outline: none;    
}

.collapse__body {
    padding: 30px 25px 30px 25px;
}

.collapse:not(.collapse_show) {
    display: none;
}

.form__title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease 0s; 
}

.form__title:hover {
    background-color: #58beee;
}

.form__item {
    margin: 0px 0px 20px 0px;
}

.form__label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}

.form__input {
    height: 50px;
    padding: 0px 10px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.form__input:focus {
    box-shadow: 0 0 15px #e0e0e0;
}

textarea.form__input {
    padding-top: 5px;
    min-height: 120px;
    resize: vertical;
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #8bc56c;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 5px 0 #405b31;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0px;
}

.form:hover {
    cursor: pointer;    
}

.form__button:hover {
    background-color: #78ab5d;
}

.form__button:active {
    top: 10px;
    box-shadow: 0 5px 0 #27A2DB;
}