
/* ul {
    display: block;
    list-style: none;
    padding-inline-start: 0px;
}

li {
    display: block;
} */

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

h4 {
    font-weight: 400;
}

