/* HEADER CONTACTS START*/

.header__contacts {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line {
    border-top: 1px solid lightgray;
}

.header__contacts-list {
    display: flex;
    font-size: 12px;
}

.header__contacts-item:first-child {
    margin-right: auto;
}

.header__contacts-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__contacts-item:last-child {
    margin-right: 0px;
}

/* HEADER CONTACTS END*/

/* HEADER START */

.header__inner {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
}

.header__logo {
    display: block;
}

.logo__img {
    height: 70px;
}

.navbar {
    padding-top: 19px;
}

.navbar__list {
    display: flex;
    gap: 60px;
}

.navbar__list-item:hover {
    transition: 0.3s;
    color: #27A2DB;
    cursor: pointer;
}

.navbar__list-item:hover .navbar__list-dropbtn {
    transition: 0.3s;
    transform: rotate(180deg);
}

.navbar__list-item:hover .strelka {
    transition: 0.3s;
    border-color: #27A2DB;
}

.navbar__list-item:hover .navbar__list-item__line {
    transition: 0.3s;
    border-top: 3px solid #27A2DB;
    margin-top: 20px;
}

.navbar__list-dropdawn {
display: flex;
gap: 5px;
align-items: center;
justify-content: space-between;
}

.strelka {
    border: 0.5px solid rgb(0, 0, 0);
    border-width: 0px 1.5px 1.5px 0;
    display: block;
    padding: 2px;
    transform: rotate(45deg);
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 170px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    border: none;    
    background-color: #00C300;
}

.header__button-phone {
    height: 25px;
    animation: shokk 0.7s 2s 5 normal none;
}

@keyframes shokk {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}