/* FORM MAILER START */
.form__mailer {
    background-color: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 100px;
}

.form {
    margin-top: 20px;
    max-width: 400px;
    /* margin: 10px auto; */
    /* padding: 0px 55px 0px 55px; */
    background-color: #27A2DB;
    border-radius: 10px;
    color: #fff;
}

.form * {
    outline: none;
}

.collapse__body {
    padding: 30px 55px 30px 55px;
}

.collapse:not(.collapse_show) {
    display: none;
}

.form__title {

    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

.form__title:hover {
    background-color: #58beee;
}

.form__item {
    margin: 0px 0px 20px 0px;
}

.form__label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}

.form__input {
    height: 50px;
    padding: 0px 20px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.form__input:focus {
    box-shadow: 0 0 15px #e0e0e0;
}

textarea.form__input {
    padding-top: 5px;
    min-height: 120px;
    resize: vertical;
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #8bc56c;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 5px 0 #405b31;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0px;
}

.form:hover {
    cursor: pointer;
}

.form__button:hover {
    background-color: #78ab5d;
}

.form__button:active {
    top: 10px;
    box-shadow: 0 5px 0 #27A2DB;
}

/* FORM MAILER END */

/* IT OUTSORSING THIS START */

.it__outsoursing__this {
    background-color: #F9F9F9;
    padding-top: 130px;
    padding-bottom: 50px;
}

.wrapper__it__outsoursing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__it__outsoursing {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    row-gap: 20px;
    line-height: 25px;
    hyphens: auto;
}

.about__it__outsoursing__hello {}

.it__outsoursing__hello {}

.about__it__outsoursing__text {}

.it__outsoursing__img {
    max-width: 520px;
    overflow: hidden;
    background-size: contain;
    max-height: 320px;
    padding-top: 45px
}

hr,
hr:before,
hr:after {
    content: "";
    background: #BFE2FF;
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    animation: anim-hr 6s linear infinite;
    border: 0;
    overflow: visible;
}

hr:before {
    left: -32px;
}

hr:after {
    left: 32px;
}

hr {
    position: relative;
    margin: -7px auto;
}

@keyframes anim-hr {
    0% {
        background: #BFE2FF;
    }

    50% {
        background: #337AB7;
    }

    100% {
        background: #BFE2FF;
    }
}

/* IT OUTSORSING THIS END */

/* IT OUTSORSING GOLAS START */

.it__outsoursing__goals {
    padding-bottom: 50px;
}

.it__outsoursing__goals-h2 {
    text-align: center;
    font-size: clamp(20px, 3vw, 30px);
    margin: 40px auto;
}

.wrapper__it__outsorsing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 40px 40px;
}

.it__outsoursing__block {
    /* padding: 20px 0px; */
    border: 5px solid transparent;
    /* border-image: linear-gradient(to right, transparent 0%, #ADF2F7 100%); */
    /* border-image-slice: 1; */
    line-height: 20px;
}

.it__outsorsing-h3 {
    font-weight: 600;
    padding-left: 10px;
}

.wrapper__it__outsorsing-h3 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.it__outsorsing__text {
    padding-left: 50px;
    line-height: 25px;
}

/* IT OUTSORSING GOLAS END */

/* it__outsorsing__benefit start */

.it__outsorsing__benefit {
    background-color: #F9F9F9;
}

.it__outsorsing__benefit-h2 {
    text-align: center;
    font-size: clamp(20px, 3vw, 30px);
    margin: 40px auto;
}

.wrapper__it__outsorsing__benefit {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 3em;
}

.it__outsorsing__benefit__block-1 {
    background: url(/pin-code/assets/svg/sales-performance-svgrepo-com.svg) no-repeat top left/40px;
}

.it__outsorsing__benefit__block-2 {
    background: url(/pin-code/assets/svg/businessman-svgrepo-com.svg) no-repeat top left/40px;
}

.it__outsorsing__benefit__block-3 {
    background: url(/pin-code/assets/svg/binoculars-svgrepo-com.svg) no-repeat top left/40px;
}

.it__outsorsing__benefit__block-4 {
    background: url(/pin-code/assets/svg/bullish-svgrepo-com.svg) no-repeat top left/40px;
}

.it__outsorsing__title-h3 {
    font-weight: 500;
}

.it__outsorsing__benefit__text {
    line-height: 23px;
    font-weight: 300;
    text-wrap: balance;
}

.benefit__block-svg {
    padding-left: 55px;
    font-size: 15px;
    /* margin-bottom: 28px; */
    max-width: 650px;
}

.it__outsorsing__title-h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.it__outsorsing__diagramma__img {
    align-self: center;
    max-width: 450px;
    max-height: 650px;
    justify-content: center;
}

/* it__outsorsing__benefit end */

/* it__outsorsing__plans start */

.it__outsorsing__plans {
    padding-bottom: 3em;
}

.it__outsorsing__title-h2 {
    text-align: center;
    font-size: clamp(20px, 3vw, 30px);
    margin: 40px auto;
}

.wrapper__it__outsorsing__plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em 3em;
}

.card {
    transition: transform 0.5s;
}

.card-front,
.card-back {
    position: relative;
    width: clamp(15em, 20em, 25em);
    height: 600px;
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

.card-back {
    display: none;
    transform: rotateY(180deg);
}

.flipped {
    /* text-align: center; */
    transform: rotateY(180deg);
}

.flip-button {
    margin: 2em 0em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.flip-button:hover {
    background-color: #45a049;
}

.plan__img {
    padding-top: 1em;
}

.plan__title {
    letter-spacing: 0.1em;
    color: #237ca5;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
}

.plan__title-back {
    padding-bottom: 0em;

}

.plan__title-abon::after {
    letter-spacing: normal;
    color: rgb(97, 97, 97);
    display: block;
    content: 'Комплексное обслуживание';
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
}

.plan__title-time::after {
    letter-spacing: normal;
    color: rgb(97, 97, 97);
    display: block;
    content: 'Почасовая оплата';
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
}

.plan__title-task::after {
    letter-spacing: normal;
    color: rgb(97, 97, 97);
    display: block;
    content: 'Оплата за результат';
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
}

.line__plan {
    border-bottom: 0.5px solid gray;
    align-self: normal;
    margin: 1em 0em;
}

.line__plan-back {
    margin: 0.5em 0em;
}

.line__plan-back+p {
    padding: 0.5em 0em;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.plan__property {
    font-weight: 300;
}

.plan__property__more {
    font-size: 12px;
}

.plan__property::before {
    padding-right: 5px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}

.plan__property:hover::before {
    color: #337AB7;
    content: "\2714";
}

.plan-ol {
    list-style: "\1F44D";
    display: inline;
    font-size: 14px;
    list-style-position: inside;
    text-align: start;

}

.plan-li {
    display: list-item;
    margin: 0 auto;
    padding: 0.4em 0.3em;
    color: rgb(98, 98, 99);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    hyphens: auto;
}

.it__outsorsing__plans__end {
    font-size: clamp(16px, 3vw, 25px);
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
    line-height: 1.5;
}

/* it__outsorsing__plans end */

/* it__outsorsing__faq start */

.it__outsorsing__faq {
    background-color: #F9F9F9;
}

.wrapper__accordion {
    width: 100%;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 8px;
    overflow: hidden;
}

.accordion__header {
    display: flex;
    background-color: #ffffff;
    padding: 25px 35px;
    border-bottom: 1px solid rgb(155, 155, 155);    
    cursor: pointer;
}

.accordion__header:hover {
    background-color: #dedede;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='%23000000' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transform: rotate(180deg);
    transition: transform 0.5s ease-out;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: white;
}

.accordion__content p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 25px 35px;
    border-bottom: 1px solid rgb(155, 155, 155);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    line-height: 1.5;
}

.accordion__item.active .accordion__content p {
    opacity: 1;
}

.accordion__item.active .accordion__content {
    max-height: 200px;
}

.accordion__item.active .accordion__header {
    background-color: #dedede;
}

.accordion__item.active .accordion__header::after {
    transform: rotate(0deg);
}