/* FORM MAILER START */
.form__mailer {
    background-color: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 100px;
}

.form {
    margin-top: 20px;
    max-width: 400px;
    /* margin: 10px auto; */
    /* padding: 0px 55px 0px 55px; */
    background-color: #27A2DB;
    border-radius: 10px;
    color: #fff;
}

.form * {
    outline: none;
}

.collapse__body {
    padding: 30px 55px 30px 55px;
}

.collapse:not(.collapse_show) {
    display: none;
}

.form__title {

    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

.form__title:hover {
    background-color: #58beee;
}

.form__item {
    margin: 0px 0px 20px 0px;
}

.form__label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}

.form__input {
    height: 50px;
    padding: 0px 20px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.form__input:focus {
    box-shadow: 0 0 15px #e0e0e0;
}

textarea.form__input {
    padding-top: 5px;
    min-height: 120px;
    resize: vertical;
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #8bc56c;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 5px 0 #405b31;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0px;
}

.form:hover {
    cursor: pointer;
}

.form__button:hover {
    background-color: #78ab5d;
}

.form__button:active {
    top: 10px;
    box-shadow: 0 5px 0 #27A2DB;
}

/* FORM MAILER END */

/* Section fisrt START */

.section__first {
    background-color: #F9F9F9;
    padding-top: 140px;
    padding-bottom: calc(2.5vw + 20px);
}

.wrapper__section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    gap: 20px 0px;
    line-height: 25px;
    text-wrap: balance;
}

.about__section__img {
    max-width: 420px;
    overflow: hidden;
    background-size: contain;
    max-height: 420px;
    padding-top: 45px
}

.list {
    list-style-position: inside;
}

/* Section fisrt END */

/* Section we__make START */

.we__make {
    padding-bottom: calc(3vw + 20px);
}

.wrapper__block-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 40px 40px;
    justify-items: center;
}

.we__make__block {
    padding-left: 55px;
    /* font-size: 15px; */
    margin-bottom: 28px;
    line-height: 25px;
}

.svg-1 {
    background: url(/pin-code/assets/svg/new__lan.svg) no-repeat top left/57px;
}

.svg-2 {
    background: url(/pin-code/assets/svg/transported__office.svg) no-repeat top left/48px;
}

.svg-3 {
    background: url(/pin-code/assets/svg/two__office.svg) no-repeat top left/52px;
}

.svg-4 {
    background: url(/pin-code/assets/svg/upgrade__network.svg) no-repeat top left/48px;

}

.we__make-h3 {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 18px;
}

/* Section we__make END */

/* Section stages__lan START */

.stages__lan {
    background-color: #F9F9F9;
    padding-bottom: calc(3vw + 20px);
}

.wrapper__stages {
    width: 80%;
    margin: 0 auto;
}

.stages__list>li {
    list-style-position: inside;
    margin-bottom: 1.5vw;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    line-height: 25px;
    transition-duration: 0.5s;
    background-color: white;

}

.stages__list>li::marker {
    font-weight: bold;
}

.stages__list>li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

/* Section stages__lan END */

/* Section lan__properties START */

.lan__properties {
    padding-bottom: calc(3vw + 20px);
}

.wrapper__block-grid-360 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 40px 40px;
    justify-items: center;
}

.item {
    display: flex;
    width: 100%;
    /* max-width: 300px; */
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 15px;
    padding: 20px;
    row-gap: 20px;
    line-height: 1.4;
    hyphens: auto;
    transition: 0.5s;
}

.img__bg {
    width: 100%;
    max-width: 525px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 16/9;
    margin: 0 auto;
    opacity: 80%;
    transition: 0.5s;
    border-radius: 15px;
}

.item:hover {
    scale: 1.05;
}

.item:hover .img__bg {
    opacity: 100%;
    filter: drop-shadow(16px 16px 20px #8e8e8e);
}

.img__bg-1 {
    background-image: url(/pin-code/assets/img/lvs/lvs__scalability.webp);
}

.img__bg-2 {
    background-image: url(/pin-code/assets/img/lvs/lvs__flexbox.webp);
}

.img__bg-3 {
    background-image: url(/pin-code/assets/img/lvs/lvs__fault__tolerance.webp);
}

.img__bg-4 {
    background-image: url(/pin-code/assets/img/lvs/Lvs__reliability.webp);
}

.img__bg-5 {
    background-image: url(/pin-code/assets/img/lvs/lvs__Security.webp);
}

.img__bg-6 {
    background-image: url(/pin-code/assets/img/lvs/lvs__control.webp);
}

.item__tittle {
    text-align: center;
    font-size: clamp(15px, 1vw, 20px);
    margin-left: auto;
    margin-right: auto;   
    font-weight: 500;
    line-height: 1.5;
}

.item__text {
    font-size: 15px;
}

/* Section lan__properties END */

/* Section lan__price START */

.lan__price {
    background-color: #F9F9F9;
    padding-bottom: calc(3vw + 10px);
}

.wrapper__table__price {
    overflow-x: auto;
}

.table__price {
    width: 80%;
    min-width: 634px;
    border: 1px solid #eeeeee;
    background-color: white;
    border-collapse: collapse;
    margin: 0 auto;
}

.table__price thead {
    background-color: #bebebe;
}

.table__price th {
    font-weight: 600;
}

.table__price th,
td {
    border: 1px solid #eeeeee;
    padding: 10px;
    line-height: 1.45;
}

.table__price td:not(:first-child) {
    text-align: center;
}

.table__btn {
    display: block;
    margin: 30px auto 30px;
    width: 270px;
    padding: 15px 40px 15px 10px;
    border: medium none;
    border-radius: 10px;
    text-align: center;
    color: white;
    background: #FF871A url(/pin-code/assets/svg/down-arrow-svgrepo-com.svg)no-repeat 96%;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.table__btn:hover {
    background-color: #fc9535;
}

.wrapper__table__pm .table__price td:nth-child(2) {
    text-align: start;
}

.wrapper__table__pm .table__price td:nth-child(1) {
    text-align: center;
}

.wrapper__table__pm {
    /* position: relative; */
    opacity: 0;
    transform: translateY(-15%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
    overflow-x: auto;
    height: 0;
    font-size: small;
}

.wrapper__table__pm.show-more {
    /* position: relative; */
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    height: fit-content;   
}

.title-h2-end {
    text-align: center;
    font-size: clamp(20px, 3vw, 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;    
    line-height: 1.5;
}

