html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;    
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header__contacts__list {
    display: flex;    
    font-weight: 400;
    font-size: 12px;         
}

.header__contacts__item:first-child {
    margin-right: auto;
}

.header__contacts__item {
    display: flex;
    align-items: center;      
    margin-right: 20px;
}

.header__contacts__item:last-child {
    margin-right: 0px;
}


