/* Section first start */

.section__first {
    background-color: #F9F9F9;
    padding-top: 140px;
    padding-bottom: calc(2.5vw + 20px);
}

.wrapper__section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 20px 0px;
    line-height: 25px;
    /* text-wrap: balance; */
}

.about__section__img {
    max-width: 520px;
    overflow: hidden;
    background-size: cover;
    max-height: 350px;
    padding-top: 45px;    
    background-repeat: no-repeat;    
    border-radius: 10px;
    opacity: 90%;
}

.list {
    list-style-position: inside;
}

/* Section first end */


/* Section types__camera start */

.types__camera {
    padding-bottom: calc(3vw + 20px);
}

/* Section types__camera end */

/* Section video__storage start */

.video__storage {
    background-color: #F9F9F9;
    padding-bottom: calc(3vw + 20px);
}

.container>.title-h3 {
    border: 2px solid gray;
    padding: 15px;
    border-radius: 5px;
}

/* Section video__storage end */

/* Section order__work start */

.order__work {
    padding-bottom: calc(3vw + 20px);
}

.wrapper__order__work {
    display: flex;
    /* flex: 1 0; */
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.number__stage {
    flex: 1;
    text-align: right;
    max-width: 100px;
    flex-basis: auto;
}

.text__stage {
    flex: 2;
    padding-right: 2rem;
}

.text__stage p {
    font-weight: 300;
    font-size: clamp(14px, 2vw, 16px);
    text-wrap: balance;
    line-height: 1.4;
    padding-bottom: 55px;
}

.text__stage p:nth-child(1) {
    padding-bottom: 30px;
}

.text__stage p:last-child {
    padding-bottom: 0px;
}

.text__stage p::first-line {
    font-weight: 500;
    color: black;
    font-size: clamp(12px, 3vw, 18px);
    line-height: 2;
}

.ns {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 100px;
    border-radius: 70.3%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 0.5px 10px 5px #d8d8d8;
    color: #27A2DB;
    font-size: 25px;
}

.ns:last-child {
    margin-bottom: 0px;
}

.circle-dot {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #aeaeae;
    transform: translateX(40px);
}

.cd-1 {
    top: 80px;
    /* Расстояние между кругами + высота круга */
}

.cd-2 {
    top: 260px;
    /* Расстояние между кругами + высота круга */
}

.ns_img {
    flex: 2;
    background-image: url(/assets/img/video/stages.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;    
}

/* Section order__work end */

/* Section video__price start */

.video__price {
    background-color: #F9F9F9;
    padding-bottom: calc(3vw);
}

.wrapper__table__pm {
    overflow-x: auto;
    font-size: small;
}

.table__price {
    width: 80%;
    min-width: 634px;
    border: 1px solid #eeeeee;
    background-color: white;
    border-collapse: collapse;
    margin: 0 auto;
}

.table__price thead {
    background-color: #bebebe;
}

.table__price th {
    font-weight: 600;
}

.table__price th,
td {
    border: 1px solid #eeeeee;
    padding: 10px;
    line-height: 1.45;    
}

div.wrapper__table__pm>table>thead>tr>th:nth-child(3) {
    min-width: 100px;
}

.table__price td:not(:first-child) {
    text-align: center;
}

.wrapper__table__pm .table__price td:nth-child(2) {
    text-align: start;
}

.wrapper__table__pm .table__price td:nth-child(1) {
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
}

.info>.title-h3 {
    flex: 2;
    margin-top: 0;
    margin-bottom: 0;
}

.info-img {
    background-image: url(/assets/svg/info-svgrepo-com.svg);
    background-size: contain;
    width: 80px;
    height: 80px;
    flex: 0 1 auto;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.btn__download {
    display: flex;
    height: 4em;
    border: 0;
    background-color: #ee5c5c;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;  
    text-align: center;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    box-shadow: 5px 5px 5px #a86666;
    margin: 2em auto;
    align-self: center;
}

.download__icon {
    padding-left: 5px;
}

.btn__download:hover {
    background-color: #eb4444;
    transition: all 0.5s ease 0s;
}

/* Section video__price end */

/* Section calc start */

.calc {
    background-color: rgb(255, 255, 255);
}

.wrapper__calc {
    display: flex;
    flex-direction: column;        
    font-size: clamp(14px, 2vw, 16px);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid 1px #c1d3d2;
    margin: 25px auto;
    padding: 40px 25px;
    max-width: 950px;    
    box-sizing: content-box;    
}

.wrapper__cameras__quality {
    display: flex;
    flex-wrap: wrap;    
}

.wrapper__quality {
    display: flex;
    flex-direction: column;    
    align-items: start;
    padding-top: 5px;       
}

.quality {
    background-repeat: no-repeat;    
    padding-left: 35px;   
    background-image: url(/assets/svg/monitor-svgrepo-quality.svg);
    background-size: 10%;
}

.wrapper__cable__hdd {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
}

.wrapper__calc__block {
    display: flex;
    /* flex: 1 1 calc(33.333% - 20px);    */
    flex-direction: column;    
    gap: 5px;
    background-repeat: no-repeat;
    background-position: 1% center;
    padding-left: 100px;
    align-items: start;
    min-height: 65px;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    line-height: 1.35;        
}

.calc__name {
    width: 100%;    
    max-width: 250px;
}

.wrapper__number__cameras {
    background-image: url(/assets/svg/security-system-video-camera-svgrepo-com.svg);
    display: flex;      
    flex-direction: column;    
    gap: 5px;
    background-repeat: no-repeat;
    background-position: 1% center;
    padding-left: 100px;
    align-items: start;   
    justify-content: center;
    width: 100%;
    max-width: 450px;     
}

.number__cameras {
    display: flex;
    align-items: center;   
    gap: 10px;
}

#cameraInput {
    width: 60px;
    padding-left: 5px;
    margin-left: 5px;    
}

#cameraRange {
    max-width: 283px;
    width: 100%;          
}

.calc__subtext {
    color: rgb(157, 151, 151);
    font-size: 1rem;
}

.wrapper__calc__subtext {
    display: flex;    
}

.calc__check {
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    color: #5a5a5a;
    margin-left: 10px;
    cursor: pointer;
    align-self: center;
}

.wrapper__calc_check {
    display: flex;
    gap: 10px;
    margin-top: 23px;

}

.calc__check__three {    
    background-size: 18px 18px;
    background-repeat: no-repeat;
    color: #5a5a5a;
    padding-left: 25px;
    cursor: pointer;
    font-style: italic;
    font-size: 14px;
    line-height: 1.5;
    
}

.button__uncheck {
    background-image: url(/assets/svg/ico_unchecked.svg);
}

.button__check {
    background-image: url(/assets/svg/ico_checked.svg);
}

.calc__help {
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;    
    margin-left: 10px;
    background-image: url(/assets/svg/help-question-question-mark-svgrepo-com.svg);
    cursor: pointer;
    position: relative;    
    display: inline-block;   
    vertical-align: middle;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    hyphens: auto;
    top: 120%;      
}

.calc__help.active .tooltip {
    display: block;
}

.tooltip__close {
    background-image: url();
}

.calc__line {
    height: 0;
    border-top: 0.5px solid lightgray;
    list-style: none;
    margin: 25px 0;
}

.wrapper__cable__outdoor {    
    background-image: url(/assets/svg/ethernet-svgrepo-com.svg);    
}

.cable__sum {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__cable__indoor__subtext {
    display: flex;
    align-items: center;
    
}

#cableInputOut {
    width: 60px;
    padding-left: 5px;
    margin-left: 5px;
}

#cableMetrOut {
    width: 283px;
}

#cableInputIn {
    width: 60px;
    padding-left: 5px;
    margin-left: 5px;
}

#cableMetrIn {
    width: 283px;
}

.wrapper__cable__indoor {    
    background-image: url(/assets/svg/ethernet-svgrepo-com-black.svg);    
}

.wrapper__cable__montage {
    display: flex;
    flex-wrap: wrap;    
}

.wrapper__hdd {
    display: flex;
    flex-direction: column;
    align-items: start;   
}

.hdd__time {
    display: inline-flex;
    background-repeat: no-repeat;    
    padding-left: 30px;   
    background-image: url(/assets/svg/time-svgrepo-com.svg);
    background-size: 10%;
    min-height: 25px;
    align-items: center; 
}

.wrapper__montage {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.montage {
    display: inline-flex;
    background-repeat: no-repeat;    
    padding-left: 30px;   
    background-image: url(/assets/svg/repairing-wrench-svgrepo-com.svg);
    background-size: 10%;
    min-height: 25px;
    align-items: center; 
}

.wrapper__sum__explanation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #27A2DB;
}

.explanation {
    /* flex: 3 1; */    
    width: 70%;
    background-image: url(/assets/svg/info-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: left;    
    padding-left: 45px;
    align-items: center;
    line-height: 1.25;
    hyphens: auto;
}

.wrapper__sum {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;    
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.sum__text {
    color: #262626;    
    font-family: 'OpenSans-Bold';
    font-size: 90%;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 100%;
}

.sum__line {
    align-self: flex-end;
    padding-top: 20px;
    font-size: 180%;
    color: #27a85c;
}


/* Section calc end */
/* Section our__suppliers start */

.our__suppliers {
    padding-bottom: calc(2.5vw + 20px);
    background-color: #F9F9F9;
}

.suppliers__grid__block {
    margin: 15px 0 0;
    padding: 45px 0 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 100px 40px;
    justify-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;    
}

section.our__suppliers>div>p {
    font-size: clamp(16px, 1vw, 19px);
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.item__grid__block {
    width: 200px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    min-height: 100%;
}

.igb-1 {
    background-image: url(/assets/img/video/logo-satv.png);
}

.igb-2 {
    background-image: url(/assets/img/video/logo-rvi.png);
}

.igb-3 {
    background-image: url(/assets/img/video/dahua.png);

}

.igb-4 {
    background-image: url(/assets/img/video/hikvision_logo.png);
}

.igb-5 {
    background-image: url(/assets/img/video/hilogo.svg);
}

.igb-6 {
    background-image: url(/assets/img/video/logo-ezviz.svg);
}

.igb-7 {
    background-image: url(/assets/img/video/ez-ip.svg);
}

.igb-8 {
    background-image: url(/assets/img/video/trassir.svg);
}

.igb-9 {
    background-image: url(/assets/img/video/optimus.png);

}

/* Section our__suppliers end */



/* Section guarantee start */

.guarantee {
    padding-bottom: calc(3vw);
    background-color: white;
}

.wrapper__guarantee__block {
    display: flex;
    justify-content: center;    
    gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.guarantee__block {
    display: flex;
    flex-direction: column;
    row-gap: 15px;    
    position: relative;
    max-width: clamp(200px, 30%, 100%);
    min-height: clamp(250px, 40%, 100%);
    padding: 20px 20px;    
    align-items: center;    
    border: 2px solid #AEAEAE;
    border-radius: 20px;
    background-color: #F9F9F9;
}

.guarantee__block p {
    font-size: clamp(15px, 1vw, 16px);
    text-align: center;
    text-wrap: balance;
}

.qb__img {
    height: clamp(50px, 4vw, 200px);
    width: clamp(50px, 4vw, 200px);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.qb__img-1 {
    background-image: url(/assets/svg/data-protection-svgrepo-com.svg);
}

.qb__img-2 {
    background-image: url(/assets/svg/support-svgrepo-com.svg);
}

.qb__img-3 {
    background-image: url(/assets/svg/assistant-svgrepo-com.svg);
}

/* ADAPTIVE */

@media screen and (max-width: 1013px) {
    .ns_img {
        display: none;
    }

    .info {
        flex-direction: column;
    }

    .info-img {
        width: 50px;
        height: 50px;
        margin-right: 0;
        margin: 10px 0;
    }

    .text__stage p:nth-child(1) {
        padding-bottom: 80px;
    }

    .text__stage p:nth-child(2) {
        padding-bottom: 80px;
    }

    .text__stage {        
        padding-right: 0;
    }
}

@media screen and (max-width: 940px) {
    .section__first {
        padding-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .about__section__img {
        display: none;
    }

    .form {
        width: 70%;
        align-self: center;
    }

    .title__section {
        text-align: center;
    }

    .text__stage p:nth-child(1) {
        padding-bottom: 60px;
    }

    .text__stage p:nth-child(2) {
        padding-bottom: 80px;
    }

    .suppliers__grid__block {
        row-gap: 30px;
    }
}

@media (max-width: 670px) {
    .title-h2 {
        margin-bottom: calc(2.5vw + 10px);
    }

    .wrapper__grid__block {
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        row-gap: 20px;
    }
}

@media (max-width: 637px) {
    .number__stage {
        display: none;
    }

    .text__stage p:nth-child(1) {
        padding-bottom: 10px;
    }

    .text__stage p:nth-child(2) {
        padding-bottom: 10px;
    }

    .types__camera {
        display: none;
    }

    .video__storage {
        display: none;
    }

    .text__stage p::first-line {
        font-size: 15px;
    }
}